#jeu{
	margin-top: 5%;
	margin-right: auto;
	margin-left: auto;
	width: 50%;
	position: relative;
}
#jeu img{
	position: absolute;
	top: 0;
	left: 0;
}

#liens img{
	position: absolute;
	z-index: 2;
}
 
#vue{
	width: 100%;
	z-index: 1;
}